@font-face {
  font-family: "AgainstRegular";
  src: url("/fonts/against-regular.ttf") format("truetype");
}

.againsthead {
  font-family: "AgainstRegular";
  color: rgb(255, 233, 233);
  font-size: 64px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.subhead {
  font-family: "DellaRespira";
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.mainhead {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@font-face {
  font-family: "DellaRespira";
  src: url(/public/fonts/DellaRespira-Regular.ttf) format("truetype");
}
body {
  font-family: "DellaRespira";
}
