---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="home-body">
    <div class="home-grid">
      <div class="row1">
        <h2 style="font-size: 20px;">Nirvikalpa</h2>
        <p class="nirvikalpa-meaning" style="font-size: 14px;">
          a state of consciousness beyond the limitations of thought, perception,
          and individual identity.
        </p>
      </div>
      <div class="row2">
        <h1 class="my-name" style="font-size: 64px;">Dishita Jain</h1>
        <p class="who-am-i" style="font-size: 20px;">
          I am a confused, chaotic being interested <br /> in everything and bound
          to nothing. Free
        </p>
      </div>
      <div class="home-footer">
        <a class="jainism" href="/jainism/">Jainism</a>
        <a class="art" href="/art/">Art</a>
        <a class="wander" href="/wander-in-nature/">Wander in Nature</a>
      </div>
      <p class="say-hello" style="font-size: 15px;">
        This little bug has something to say to you. Say hello!
      </p>
    </div>
  </div>
</Layout>

<style>

.home-body

  .my-name {
    color: #8057bd;
    text-align: left;
    font-family: "Against Regular";
    margin: 0;
    /* padding: 0; */
  }
  h2 {
    /* color: #9eb25d; */
    text-align: left;
    font-family: "Against Regular";
    margin-top: 0;
  }

  .nirvikalpa-meaning {
    /* margin-top: 0.5rem; */
    margin: 3px;
    margin-left: 20px;
  }

  body {
    overflow: hidden;
  }

  .home-grid {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 100%;
    height: 100vh;
    padding-left: 120px;
    gap: 20px;
  }

  .home-body {
    background:
      url("/images/illustration-low.png") top right no-repeat,
      linear-gradient(#9eb25d 60px, transparent 60px);
    background-size:
      52%,
      100% auto;
      /* background-color: beige; */
  }

  .row1 {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    flex-direction: column;
    color: white;
  }

  .row2 {
    padding-top: 0;
  }
  .who-am-i {
    margin-top: 0;
  }


  .home-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    max-width: 30%;
  }

   .say-hello {
    padding-top: 10px;
    display: flex;
    /* align-items: center; */
    /* padding-bottom: 30px; */
  }
</style>
