---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style>
      .my-name {
        color: #8057BD;
        text-align: left;
        font-family: "Against Regular";
      }
      h2{
        color: #9EB25D;
        text-align: left;
        font-family: "Against Regular";
      }
    </style>
  </head>
  <body>
    <h2>Nirvikalpa</h2>
    <p>
      a state of consciousness beyond the limitations of thought, perception,
      and individual identity
    </p>
    <h1 class="my-name">Dishita Jain</h1>
    <p>
      I am a confused, chaotic being interested in everything and bound to
      nothing.
    </p>
    <p>The little bug has something to say to you. Say hello!</p>


  </body>
</html>
