---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="home-body">
    <div class="home-grid">
      <div class="row1">
        <h2 style="font-size: 20px;">Nirvikalpa</h2>
        <p class="nirvikalpa-meaning" style="font-size: 14px;">
          a state of consciousness beyond the limitations of thought,
          perception, and individual identity.
        </p>
      </div>
      <div class="row2">
        <h1 class="my-name" style="font-size: 64px;">Dishita Jain</h1>
        <p class="who-am-i" style="font-size: 20px;">
          I am a confused, chaotic being interested <br /> in everything and bound
          to nothing. Free
        </p>
      </div>
      <div class="home-footer">
        <div class="jain">
          <a rel="hang" class="jainism" href="/jainism/">Jainism</a>
        </div>

        <div class="arts">
          <a rel="hang" class="art" href="/art/">
            <img src="/images/artbutton.png" class="art-img" />
            Art</a
          >
        </div>
        <div class="wander">
          <a rel="hang" class="wandertext" href="/wander-in-nature/">
            Wander in Nature</a
          >
        </div>
      </div>
      <div class="handles">
        <p class="say-hello" style="font-size: 15px;">
          This little bug has something to say to you. Say hello!...............
        </p>
        <img class="b1" src="/images/bugs/b1.png" alt="" />
      </div>
    </div>
  </div>
</Layout>

<style>
  .my-name {
    color: #8057bd;
    text-align: left;
    font-family: "Against Regular";
    font-weight: normal;
    margin: 0;
    /* padding: 0; */
  }
  h2 {
    /* color: #9eb25d; */
    text-align: left;
    font-family: "Against Regular";
    font-weight: normal;
    margin-top: 0;
  }

  .nirvikalpa-meaning {
    /* margin-top: 0.5rem; */
    margin: 3px;
    margin-left: 20px;
  }

  body {
    overflow: hidden;
  }

  .home-grid {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 100%;
    height: 100vh;
    padding-left: 4rem;
    /* gap: 10px; */
  }

  .home-body {
    background:
      url("/images/illustration-low.png") top right no-repeat,
      linear-gradient(#9eb25d 60px, transparent 60px);
    background-size:
      52%,
      100% auto;
    /* background-color: beige; */
  }

  .row1 {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    flex-direction: column;
    color: white;
  }

  .row2 {
    padding-top: 0;
  }
  .who-am-i {
    margin-top: 0;
  }

  /* .wander {
    top: 10px;
    align-items: center;
    background-image: url("/images/wanderbutton.png");
    width: 25rem;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  } */

  .wander {
    background-color: #fff9d9;
    width: 140px;
    height: 70px;
    background-position: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 10px;
  }
  .wandertext {
    margin-bottom: -10px;
  }

  .home-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 20px;
    max-width: 35%;
    margin-bottom: 80px;
  }
  .home-footer a {
    text-decoration: none;
  }

  .jainism {
    border-left: 8px solid #9eb25d;
    padding: 5px;
    cursor: pointer;
  }

  .art-img {
    margin-left: 10px;
    margin-bottom: -5px;
    width: 30px;
    height: 30px;
  }

  .art {
    display: grid;
    padding-top: 40px;
    padding-left: 10px;
  }

  .say-hello {
    /* display: flex; */
    align-items: center;
  }

  .b1 {
    width: 2rem;
    height: auto;
    transform: rotate(30deg);
    cursor: pointer;
  }
  .handles {
    display:grid;
      grid-template-columns: 8fr 2fr;
    flex-direction: column;
    width: 50%;
  }
</style>
