---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mainhead">
    <h1 class="againsthead">Nirvikalpa</h1>
  </div>
</Layout>

<style>
  .againsthead {
    margin: 0;
    padding: 0;
  }
  .mainhead {
    background-color: #9eb25d;
    overflow: hidden;
  }
</style>
