---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="againsthead">Nirvikalpa</h1>
</Layout>

<style>
  body {
    background-color: #9eb25d;
    overflow: hidden;
  }
  .againsthead {
    /* color: #ffffff; */
    /* font-size: 6rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  /* @font-face {
    font-family: "against";
    src: url("/public/fonts/against-regular.ttf") format(".ttf");
  } */
</style>
