---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <h1 class="againsthead">Jainism</h1>
  <Header />
  <br />
  <div class="bhajan">
    <h1>Mai Gyanananda Swabhavi Hun</h1>
    <span class="by-line">Dr. Hukamchand Bharill, Nidhi Saraogi </span>
    <br />
    <a
      href="https://open.spotify.com/track/7dLg4ra9Z3BwRvZd1YsBIX?si=iB-IQAE3SCOnQFrCr60F6Q"
    >
      <button>Listen on Spotify</button></a
    >
    <div class="verse">
      <p>
        Mai hu apne me swayam purna<br />
        Par ki mujhme kuch gandha nahi<br />
        Mai aras arupi asparshi,<br />
        Par se kuch bhi sambandha nahi
      </p>

      <p>
        Mai rang raag se bhinna<br />
        Bhed se bhi mai bhinna nirala hun<br />
        Mai hu akhanda chaitanya pinda<br />
        Nij ras me ramne wala hun
      </p>

      <p>
        Mai hi mera karta dharta<br />
        Mujhme par ka kuch kaam nahi<br />
        Mai mujhme rehne wala hun<br />
        Par me mera Vishram nahi
      </p>

      <p>
        Mai shuddha buddha aviruddha ek<br />
        Par parinati se aprabhavi hun<br />
        Aatmanubhuti se prapta tatva<br />
        Mai Gyanananda Swabhavi hun
      </p>
    </div>

    <h1>Meri Bhavna</h1>
    <span class="by-line">Pandit Jugalkishor Jain Mukhtar “Yug Veer” </span>
    <br />
    <a
      href="https://open.spotify.com/track/1tGTZ8VuvQCVT1YGjtu309?si=lBE_EsgcTTS7ekIqCz40SQ"
    >
      <button>Listen on Spotify</button></a
    >

    <div class="verse">
      <p>
        Jisne raag dvesh kamadik jeete sab jag jaan liya,<br />
        Sab jeevon ko moksha marg ka nisprah ho updesh diya,<br />
        Buddh, veer, jin, hari, har, brahma, ya usko swaadhin kaho,<br />
        Bhakti bhaav se prerit ho yeh chitt usi mei leen raho ||1||
      </p>

      <p>
        Vishayon ki aasha nahi jinke samyabhaav dhan rakhte hain,<br />
        Nij-par ke hit saadhan mei jo nishdin tatpar rehte hain,<br />
        Swarth tyaag ki kathin tapasya bina khed jo karte hain,<br />
        Aise gyaani saadhu jagat ke dukh samuh ko harte hain ||2||
      </p>

      <p>
        Rahe sadaa satsang unhi ka dhyaan unhi ka nitya rahe,<br />
        Unhi jaisi charya mei yeh chitt sada anurakt rahe,<br />
        Nahi satau kisi jeev ko juth kabhi nahi kaha karu,<br />
        Par dhan vanita par na lubhau santoshamrit piya karu ||3||
      </p>

      <p>
        Ahankaar ka bhaav na rakhu nahi kisi par krodh karu,<br />
        Dekh dusro ki badhti ko kabhi na irshya bhaav dharu,<br />
        Rahe bhavna aisi meri saral satya vyavhaar karu,<br />
        Bane jaha tak is jeevan mei auro ka upkar karu ||4||
      </p>

      <p>
        Maitri bhaav jagat mei mera sab jeevon se nitya rahe,<br />
        Deen dukhi jeevon par mere ur se karuna srot bahe,<br />
        Durjan krur kumarg-rato par kshobh nahi mujhko aave,<br />
        Saamyabhaav rakhu main unpar aisi parinati ho jaave ||5||
      </p>

      <p>
        Guni jano ko dekh hriday mei mere prem umad aave,<br />
        Bane jaha tak unki seva karke yeh man sukh paave,<br />
        Hou nahi krataghna kabhi main droh na mere ur aave,<br />
        Gun grahan ka bhaav rahe nit drishti na doshon par jaave ||6||
      </p>

      <p>
        Koi bura kaho ya achcha lakshmi aave ya jaave,<br />
        Laakhon varsho tak jiyu ya mrityu aaj hi aa jaave,<br />
        Athva koi kaisa hi bhay ya laalach dene aave,<br />
        To bhi nyaay maarg se mera kabhi na pag digne paave ||7||
      </p>

      <p>
        Hokar sukh me magna na phule dukh me kabhi na ghabraave,<br />
        Parvat nadi shamshaan bhayanak atvi se nahi bhay khaave,<br />
        Rahe adol akamp nirantar yeh man dridhtar ho jaave,<br />
        Isht viyog anisht yog me sahansheelta dikhlaave ||8||
      </p>

      <p>
        Sukhi rahein sab jeev jagat ke koi kabhi na ghabraave,<br />
        Bair paap abhimaan chhod jag nitya naye mangal gaave,<br />
        Ghar ghar charcha rahe dharma ki dushkrit dushkar ho jaave,<br />
        Gyan charit unnat kar apna manuj janam phal sab paave ||9||
      </p>

      <p>
        Iiti bhiiti vyape nahi jag me vrishti samay par hua kare,<br />
        Dharmnishth hokar raja bhi nyay praja ka kiya kare,<br />
        Rog mari durbhiksha na faile praja shanti se jiya kare,<br />
        Param ahimsa dharma jagat mei phail sarv hit kiya kare ||10||
      </p>

      <p>
        Phaile prem paraspar jag mei moh duur hi raha kare,<br />
        Apriya katuk kathor shabd nahi koi mukh se kaha kare,<br />
        Bankar sab yugvir hriday se deshonnati rat raha kare,<br />
        Vastu swarup vichar khushi se sab dukh sankat saha kare ||11||
      </p>

      <p>Rahe bhavna aisi meri……..</p>
    </div>
  </div>
</Layout>

<style>
  .againsthead {
    background-color: #fff9d9;
    color: #9eb25d;
    font-size: 64px;
  }

  .bhajan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
  }

  .by-line {
  }
  .verse {
    justify-content: left;
    padding: 60px 120px;
    background-color: #fff9d9;
    border-radius: 20px;
  }
  p {
    text-align: left;
    max-width: 100%;
  }

  h1 {
    font-size: 32px;
    color: #8057bd;
    padding-top: 99px;
    margin-bottom: 0;
  }

  button {
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #eefcce;
    border-color: #8057bd;
    border-radius: 30px;
  }
</style>
