---
const currentPath = Astro.url.pathname;
---

<header>
  <nav class="head">
    <a href="/home2/" class={currentPath === "/home/" ? "green" : "purple"}
      >Home</a
    >

    <a href="/jainism/" class={currentPath === "/jainism/" ? "green" : "purple"}
      >Jainism</a
    >

    <a href="/art/" class={currentPath === "/art/" ? "green" : "purple"}>Art</a>

    <a
      href="/wander-in-nature/"
      class={currentPath === "/wander-in-nature/" ? "green" : "purple"}
      >Wander in Nature</a
    >
  </nav>
</header>

<style>
  .head {
    background-color: white;
    border-bottom: 2px solid  #EEFCCE;
    /* border-width: 20px; */
    height: 80px;
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
  }
  .purple,
  .green {
    text-decoration: none;
  }
  .purple {
    color: #8057bd;
  }
  .green {
    color: #9eb25d;
  }
</style>
