<header class="head">
  <nav>
    <a href="../pages/home.astro">Home</a>
    <a href="../pages/jainism.astro">Jainism</a>
    <a href="../pages/art.astro">Art</a>
    <a href="../pages/wander-in-nature.astro">Wander in Nature</a>
  </nav>
</header>

<style>
  header {
    background-color: white;
    stroke: #eefcce;
  }
</style>
